# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Logs
*.log

# Data files
data/location/geocoded_cities.csv
data/location/geocoded_poi.csv
data/isochrones/*_isochrones.geojson

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
