# Python-related
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
*.egg
*.egg-info/
dist/
build/
*.log

# Environment variables
.env

# Data files
data/
maps/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/
*.swp
*.swo

# Certificates
*.pem
